[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
imbalanced-learn = "*"
pandas = "*"
gunicorn = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.10"
